{{! IS727272 - Cordero Hernández, Marco Ricardo }}
<div>
    <form action="/noticias" method="GET">
        <input type="text" name="search" id="search" placeholder="Término de búsqueda">
        <input type="submit" value="Buscar"><br>
    </form>
</div>
