// IS727272 - Cordero Hernández, Marco Ricardo
@mixin remove-space {
    margin: 0;
    top: 0;    
}

@mixin table-behaviour {
    content: "";
    display: table;
    clear: left;
    margin-bottom: 20px;
}

@mixin light-hr {
    border: 0.5px solid lightgray;
}
