<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/65535/52293790880_63a0843082_b.jpg"></link>
</head>
<body>
    <header>News App</header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <span>&copy; ITESO 2023</span>
    </footer>
</body>
</html>
